

	<nav class="navbar navbar-inverse">

		<div class="container-fluid">
    <div class="navbar-header">
     <p style="color:#fff;padding-top: 2vh;">Notas</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Mis Notas</a></li>
      <li> <a data-toggle="modal" data-target="#myModal"> Nueva Nota </a ></li>
    </ul>
  </div>
	</nav>


<div  style="background: blue;color:#fff;width: 100vw;">
  <h4>Clima en  :  {{clima.name}}<img src="http://openweathermap.org/img/w/{{clima.weather[0].icon}}.png"></h4> 
  <h5>Humedad : {{clima.main.humidity}}%</h5>
</div>


<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
<br>

<div [hidden]="updateH" style="width: 100%;"> 
<h1>Actualizar</h1> 
  <div class="form-group">
  <label>Titulo</label>
  <input class="form-control" name="titulo"  type="text" [(ngModel)]="nota.titulo">
 </div>
 

 <div class="form-group">
  <label>Nota</label>
 <textarea name="nota" class="form-control" [(ngModel)]="nota.nota"></textarea>
 </div>



  <div class="form-group">
  <label>Fecha</label>
  <input class="form-control" name="fecha"  type="date" [(ngModel)]="nota.fecha">
 </div>

 <button class="btn btn-primary" (click)="saveupdate()">Guardar</button>
 <button class="btn btn-warning" (click)="cancelUpdate()">Cancelar</button>
<hr>
</div>
 





 <div class="col-md-2 col-sm-6 col-xs-12 col-lg-2 cuadroNota" *ngFor="let nota of notas" >
 
  <div style="height: 10px;text-align: right; "><p><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red;margin-top: 5px;cursor: pointer;" (click)="eliminar(nota._id)"></span></p></div>
  
  <h3 style="text-align: center;"><b>{{nota.titulo}}</b></h3>
 	<h5> {{nota.nota}}</h5>
  <p>Fecha : {{nota.fecha}}</p>
  <button class="btn btn-primary" (click)="update(nota._id,nota.titulo,nota.nota,nota.fecha)">Actualizar</button>
 </div>

</div>




 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nueva nota</h4>
        </div>
        <div class="modal-body">
         <form (ngSubmit)="guardar()" novalidate >
           <div class="form-group">
              <label labelfor="titulo">Titulo : </label><input type="text" name="titulo" class="form-control" [(ngModel)]="nota.titulo">
           </div>


            <div class="form-group">
              <label labelfor="titulo">nota : </label><textarea name="nota"class="form-control"  [(ngModel)]=" nota.nota"></textarea>
           </div>



            <div class="form-group">
              <label labelfor="titulo">Fecha : </label><input type="date" name="fecha" class="form-control"   [(ngModel)]=" nota.fecha">
           </div>


           <button class="btn btn-success" type="submit" data-dismiss="modal" (click)="guardar()">Guardar</button>
         </form>
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
      
    </div>
  </div>
  